<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Launcher/front-end app needs to list launchable apps and emulator apps.
        QUERY_ALL_PACKAGES makes the private/sideload build behave closer to Beacon.
        If you plan to publish to Google Play, this permission needs policy review or removal.
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 11+ package visibility: allow querying launchable apps for emulator/app selection. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/octet-stream" />
        </intent>
        <package android:name="org.ppsspp.ppsspp" />
        <package android:name="org.ppsspp.ppssppgold" />
        <package android:name="org.yuzu.yuzu_emu" />
        <package android:name="org.sudachi.sudachi_emu.ea" />
        <package android:name="org.sudachi.sudachi_emu" />
        <package android:name="org.suyu.suyu_emu" />
        <package android:name="org.eden.emulator" />
        <package android:name="com.fastemulator.gba" />
        <package android:name="com.swordfish.lemuroid" />
        <package android:name="com.retroarch" />
        <package android:name="com.retroarch.aarch64" />
        <package android:name="com.retroarch.ra32" />
        <package android:name="com.retroarch.ra64" />
        <package android:name="com.retroarch.plus" />
        <package android:name="com.explusalpha.NesEmu" />
        <package android:name="com.johnemulators.johnness" />
        <package android:name="com.johnemulators.johnnesslite" />
        <package android:name="com.johnemulators.johnnes" />
        <package android:name="com.johnemulators.johnneslite" />
        <package android:name="com.nostalgiaemulators.neslite" />
        <package android:name="com.nostalgiaemulators.nesfull" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-iso9660-image" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-cso" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-chd" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-gameboy-advance-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-gba-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-gameboy-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-gameboy-color-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-nes-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-nintendo-nes-rom" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/x-nes-rom" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.GameHub"
        android:supportsRtl="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bond.md3elauncher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".emulator.gba.InternalGbaActivity"
            android:exported="false"
            android:process=":internal_gba"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.GameHub"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" />

        <activity
            android:name=".emulator.fc.InternalFcActivity"
            android:exported="false"
            android:process=":internal_fc"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.GameHub"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">

            <!-- Normal app icon entry. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Home launcher candidate. Users still choose it in system default Home app settings. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
